  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #e9f8f9, #c6ceab);
    background-attachment: fixed;
  }
  html{
      scroll-behavior: smooth;

  }
  .section{
    padding: 80px 5%;
    scroll-margin-top: 50px;
  }
  .logo {
    margin-right: auto;
  }
  #ham{
    display: none;
  }
  .nav-links a.active{
    color: red;
    font-weight: bold;
  }
  .navbar {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1000;
    justify-content:space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: white;
    box-shadow: 0px 0px 10px black;

  }
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 1.5rem;
  }
  .nav-links a {
    text-decoration: none;
    margin-inline: 25px;
    color: rgb(72, 70, 70);
    transition: 0.3s;
  }
  .nav-links a:hover {
    color: red;
    text-decoration: underline;
  }
  #Login{
      padding: 5px;
      outline: none;
      width: 90px;
      color:white;
      background-color:red;
      font-size: 1.1rem;
      transition: 0.3s ;
      margin-left: 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;

  }
  #Login:hover{
      background-color:white;
      color:black;
      border: 2px solid red;
      box-shadow: 0px 0px 10px rgb(255, 132, 0);
  }
  .login-page.show{
    display: block;
  }
  .login-page{
    width: 350px;
    display:none;
    background-color: rgb(175, 199, 191);
    margin-top: 103px;
    text-align: center;
    margin: 150px auto 0;
    padding: 30px;
    scroll-margin-top: 100px;
    border-radius: 8px;
  }
  .login-page input{
    width: 200px;
    padding: 8px;
    border: 2px solid black;
    margin: 5px;
    font-size: 16px;
  }
  #logged{
    width: 100px;
    border-radius: 3px;
    background-color: red;
    border: none;
    color: white;
    font-size: 17px;
    padding: 5px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  #logged:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
    box-shadow: 0px 0px 10px red;
  }
  .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
  }
  .text h1{
    color: black;
    font-size: 4.2rem;
  }
  .text h2{
    font-size: 2.8rem;
    color: rgb(78, 174, 219);
  }
  .text p{
    margin-top: 10px;
    font-size: 1.2rem;
  }
  #Explore{
    padding: 10px;
    width: 150px;
    margin-top: 1rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;

  }
  #Explore:hover{
    background-color: white;
    color:black;
    border: 2px solid red;
    box-shadow: 0px 0px 10px rgb(255, 132, 0);
  }
  .main img{
    width: 100%;
    max-width: 450px;
    height:auto;
    transition: 0.3s;
  }
  .main img:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(0px 10px 20px rgba(0,150,255,0.5));
  }
  .cloths{
    margin-top:80px;
  }
  .head h1{
    text-align: center;
    font-size: 2.1rem;
  }
  .head span{
    color: blue;
  }
  .card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 2rem;
  }
  .card .trend{
    max-width: 280px;
    width: 100%;
    background-color: white;
    padding: 10px;
    transition: 0.3s;
  }
  .card .trend:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 10px 20px rgb(137, 137, 232));
  }
  .trend img{
    width: 100%;
    max-width: 350px;
    height:290px;
    object-fit: contain;
    background-color: rgb(179, 169, 158);

  }
  .trend i{
    font-size: 22px;
    margin-top: 5px;
    color:rgb(238, 208, 58);
  }
  .card-text button{
    margin-left: 30px;
    padding: 5px;
    border-radius: 20px;
    background-color: red;
    color: white;
    transition:0.3s;
    border: none;
    cursor: pointer;
  }
  .card-text button:hover{
    background-color: white;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(255, 132, 0);
  }
  .card p{
    font-size: 1.3rem;
  }
  .blogs{
    margin-top: 50px;
  }
  .Read{
    display: flex;
    gap: 2rem;
    margin-top: 60px;
    justify-content: center;
  }
  .Read img{
      width: 100%;
      margin: 0 auto;
      max-width: 200px;
      display: block;
      height: 290px;
      object-fit: contain;
      background-color: rgb(164, 207, 207);
      border-radius: 11px;
  }
  .blog-card{
    background-color: white;
    max-width:40%;
    padding: 20px;
    align-items: center;
    display:flex;
    border-radius: 10px;
    transition: 0.3s;
  }
  .blog-card:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 10px 20px rgb(124, 124, 236));
  }

  .blog-text h1{  
    font-size: 1.4rem;
  }
  .blog-text{
    max-width: 100%;
    text-align: center;
  }
  .blog-text p{
    text-align: center;
    padding:20px;
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .blog-text a{
    max-width: 80px;
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: 0.3s;
    font-size: 1.2rem;
    border-radius: 10px;
  }
  .blog-text a:hover{
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px red;
  }

  .review-container img{
    width: 100%;
    max-width: 150px;
    height: 150px;
    background-color:rgb(199, 180, 202);
    object-fit: contain;
    border-radius: 150px;

  }
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .reviews{
    margin-top:80px ;
  }
  .review-container{
    background-color: rgb(194, 212, 222);
    max-width: 380px;
    border-radius: 10px;
    padding: 35px;
    margin-top: 30px;
    min-height: 360px;
    text-align: center;
    transition: 0.3s;
  }
  .review-container:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 10px 20px rgb(87, 87, 115));
  }
  .review-container p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.2;
    max-width: 1000px;
  }
  .review-container i{
    margin-top: 15px;
    color: orange;
    font-size:22px;

  }
  .contact-page{
    text-align: center;
    padding: 44px;
    max-width: 500px;
    margin: 40px auto;
    border:none;
    box-shadow:0 0 15px rgba(0,0,0,.15);
    border-radius:10px;
  }
  .contact-page input{
    width: 300px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 2px solid green;
    margin-top: 11px;
  }
  .contact-page button{
    width: 120px;
    padding: 8px;
    margin-top: 10px;
    background-color: green;
    color: white;
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .contact-page button:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px green;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
    background-color: rgb(79, 123, 85);
  }
  .footer-text{
    width:100%;

  }
  .footer-text h2{
    color: #02d139;
    font-weight: bolder;
    font-size: 28px;
  }

  .footer-text p{
    color: white;
    font-size: 1.4rem;
  }




  @media (max-width:768px){
    .logo{
      font-size:1.6rem;
    }
    #ham{
      display: block;
      font-size: 28px;
      margin-left: 18px;
      cursor: pointer;
    }
    #Login{
      margin: 0;
    }
       
    .nav-links{
      display: none;
      flex-direction: column;
      text-align: center;
      margin-top: 15px;
      gap: 20px;
      width: 100%;    
      padding: 20px 0;
      align-items: center;
      box-shadow:0 5px 10px rgba(0,0,0,.2);

    }
    .nav-links.show{
      display: flex;
  }
    .navbar{
      display:flex;
      justify-content:space-between;
      align-items: center;
      position: fixed;
      top: 0;
      padding: 15px 5%;
      z-index: 1000;
      left: 0;
    }
    .login-page{
      margin: 250px auto 0;
      display: none;
    }
    
    .main{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
      
    }
   .main h1{
    font-size:2.5rem;
   }
    .main h2{
      font-size:30px;
    }
    .main p{
      max-width: 100%;
    }
    .main img{
      max-width: 250px;
      height: auto;
    }
    .text{
      max-width: 100%;
    }
  
  
    .card{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .Read{
      flex-direction: column;
      align-items: center;
    }
    .blog-card{
      max-width: 100%;
      flex-direction: column;
      padding: 15px;
      display: flex;
    }
    .blog-card img{
      max-width:100%;
      max-width: 290px;
    }
    .blog-text p{
      max-width: 100%;
      line-height: 1.5;
    }
    .review-container{
      height: auto;
      padding: 20px;
      }
    .container{
      flex-direction: column;
      max-width: 100%;
      height: auto;
    }
    .contact-page input{
      width: 250px;
    }
    .footer{
      flex-direction: column;
      text-align: center;
    }
    .footer h2{
      margin-top: 10px;
    }
  }

  @media (min-width:769px) and (max-width:1024px){
     #ham{
      display: block;
      font-size: 29px;
     }
     .main h1{
      font-size: 3rem;
     }
    .nav-links{
        display:none;
    }
     .nav-links.show{
        display:flex;
        flex-direction:column;
    }
    .login-page{
      margin: 250px auto 0 ;
    }
    .navbar ul{
      gap: 1rem;
    }
    .blog-card{
      display: flex;
      max-width: 50%;
      width: 100%;
      flex-wrap: wrap;
    }
    .blog-card img{
      width: 100%;
      max-width: 320px;

    }
    
}